* {
  box-sizing: border-box;
}

.orange-bg {
  color: #f18246 !important;
}

.white-bg {
  color: #7a7a7a !important
}

.blue-bg {
  color: #3e8ed0 !important;
}

.yellow-bg {
  color: #ffe08a !important;
}

.red-bg {
  color: #f14668 !important;
}

.green-bg {
  color: #00d1b2 !important;
}

.content-raised {
  box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.box-raised {
  border-radius: 6px;
  padding: 1.25rem;
  box-shadow: 0 5px 15px -8px rgb(0 0 0 / 24%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

/* cards */
.main-card {
  height: 120px;
  justify-content: center;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

/* template */

html,
body {
  background: #EFF3F4;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .title {
  color: hsl(192, 17%, 99%) !important;
}

.hero-body .subtitle {
  color: hsl(192, 17%, 99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}

.main-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  position: relative;
  transition: all .2s ease-in-out;
}

.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.page-title h2.title {
  text-align: left;
}

@media (min-width: 768px) {
  .page-title h2.title {
    text-align: right;
  }
}